.for-width {
  background-color: rgb(232, 237, 240);
  width: 400px;
}

.for-width form {
  width: 100%;
}

.input-container-div {
  position: relative;
}
.icon-user-input {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.input-single-form-space {
  width: 100%;
}

.for-width form button {
  cursor: pointer;
}

.item-list-target-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-item-cls {
  background-color: rgba(53, 51, 51, 0.76);
  width: 400px;
}

.single-item-cls button {
  cursor: pointer;
}
